<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dhalia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="app/css/reset.css">
    <link rel="stylesheet" href="bower_components/spectrum/spectrum.css">
    <link rel="stylesheet" href="bower_components/simple-map-d3/lib/css/simple-map-d3.css">
    <link rel="stylesheet" href="app/css/styles.css">
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="tulip-container">
      <div class="tulip-app"></div>
    </div>

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <script src="bower_components/backbone.stickit/backbone.stickit.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/d3-geo-projection/index.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/pancakejs/pancake.stack.min.js"></script>
    <script src="bower_components/spectrum/spectrum.js"></script>
    <script src="bower_components/simple-map-d3/lib/js/simple-map-d3.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/models.js"></script>
    <script src="app/js/views.js"></script>

    <script>
      (function() {
        var thisTulip = new Tulip({
          el: '.tulip-app',
          title: 'Dhalia',
          description: 'Colorful, hard-edged maps.',
          hideConfig: [
            'aspectRatio',
            'width',
            'mapOffset',
            'rotation0',
            'rotation1',
            'colorScale',
            'tooltipOn',
            'tooltipContent',
            'lengendOn',
            'stylesLegendContainer',
            'stylesLegendTitleText',
            'stylesLegendText',
            'stylesLegendSwatch',
            'stylesBackground',
            'legendScale',
            'canvasDragOn',
            'mapDragOn',
            'legendDragOn',
            'globeOn',
            'stylesGlobe',
            'stylesGraticule'
          ],
          mapConfig: {
            datasource: 'data/europe-population-density-geocommons.geo.json',
            fileName: 'europe-population-density-geocommons.geo.json',
            fileSize: '988765',
            fileType: 'geojson',
            aspectRatio: '16:10',
            projection: 'mollweide',
            colorProperty: 'population',
            styles: {
              stroke: '#FFFFFF',
              'stroke-opacity': 0.9,
              'stroke-width': 4
            },
            stylesHover: {
              stroke: '#262626',
              'stroke-opacity': 1,
              'stroke-width': 8
            },
            mapOffset: [0, 0],
            graticuleOn: true,
            globeOn: true,
            colorOn: true,
            colorSet: 'Accent',
            colorReverse: true,
            legendTitle: 'European Population Density',
            legendFormatterString: ',f2',
            legendFormatter: d3.format(',f2'),
            legendScale: 1.25,
            legendOffset: [24, 135],
            stylesLegendContainer: {
              fill: '#EAEAEA',
              'stroke-width': 0
            },
            stylesLegendTitleText: {
              'font-family': 'comic-sans',
              'font-size': '12'
            },
            stylesLegendText: {
              'font-family': 'comic-sans',
              'font-size': '12'
            },
            tooltipOn: false,
            tooltipContentTemplate: '<strong><%= p.population %></strong> <br> <%= d3.format(",f2")(p.population) %> per sq km',
            tooltipContent: function(d) {
              return _.template('<strong><%= p.population %></strong> <br> <%= d3.format(",f2")(p.population) %> per sq km')({ p: d.properties });
            },
            stylesGraticule: {
              stroke: '#565656',
              'stroke-opacity': 0.8,
              'stroke-width': 4
            }
          }
        });
      })();
    </script>
  </body>
</html>