/**
 * Main CSS for Tulip app
 */
.tulip-app-container {
  width: 100%;
  position: relative;
}

.tulip-map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 66.66%;
  min-height: 10em;
}

.tulip-map {
  width: 100%;
  height: 600px;
}

.tulip-config-container {
  width: 33.33333%;
  float: right;
  border-left: 1px solid #222222;
  min-height: 10em;
}

.tulip-configuration {
  padding: 0 1em;
}

.tulip-help {
  margin: .5em 0 0 0;
  font-size: .75em;
  color: #989898;
}

.tulip-configuration-property {
  margin-bottom: 1em;
}

.tulip-configuration select {
  max-width: 100%;
}

.tulip-configuration input {
  max-width: 100%;
}

/**
 * Override for SMD
 */
