<section class="tulip-configuration">
  <h1><%= app.title %></h1>
  
  <% if (app.description) { %>
    <p class="tulip-description"><%= app.description %></p>
  <% } %>
  
  <form class="tulip-configuration-form">
    <h2>Data</h2>
    
    <div class="tulip-configuration-property">
      <div class="tulip-input-file">Drag a new GeoJSON or TopoJSON file here.</div>
      <div class="tulip-current-file">
        <span class="tulip-configuration-fileName"></span>, 
        <span class="tulip-configuration-fileSize"></span>
        (<span class="tulip-configuration-fileType"></span>)
      </div>
    </div>

    <h2>Container</h2>
    
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-aspectRatio">Aspect ratio:</label>
      <select id="tulip-configuration-aspectRatio">
      </select>
      <p class="tulip-help">The ratio between the width and the height of the map container.  This will override the height configuration property.</p>
    </div>
    
    <div class="tulip-configuration-group cf">
      <div class="tulip-configuration-property tulip-configuration-group-50">
        <label for="tulip-configuration-width">Width:</label>
        <input type="text" id="tulip-configuration-width" name="tulip-configuration-width" />
      </div>
      
      <div class="tulip-configuration-property tulip-configuration-group-50">
        <label for="tulip-configuration-height">Height:</label>
        <input type="text" id="tulip-configuration-height" name="tulip-configuration-height" />
      </div>
    </div>  
    
    <div class="tulip-configuration-property">
      <p class="tulip-help">Use valid CSS styles, like 90%, 300px, or 10em.  You can use 100% or auto for the height and the map will fill the window.</p>
    </div>
      
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-stylesBackground">Background styles:</label>
      <input type="text" id="tulip-configuration-stylesBackground" class="tulip-attribute-picker" name="tulip-configuration-stylesBackground" />
      <p class="tulip-help">SVG styles for background container.</p>
    </div>
    
    <div class="tulip-configuration-group cf">
      <label for="tulip-configuration-mapOffset">Map offset:</label>
      <p class="tulip-help">Offset of the map from the top left of the canvas.  The Map Drag interaction will automatically set this.</p>
      
      <div class="tulip-configuration-property">
        <label for="tulip-configuration-mapOffset0">X:</label>
        <input type="text" id="tulip-configuration-mapOffset0" name="tulip-configuration-mapOffset0" />
      </div>
      
      <div class="tulip-configuration-property">
        <label for="tulip-configuration-mapOffset1">Y:</label>
        <input type="text" id="tulip-configuration-mapOffset1" name="tulip-configuration-mapOffset1" />
      </div>
    </div>

    <h2>Projection</h2>
    
    <div class="tulip-configuration-property">
      <select id="tulip-configuration-projection">
      </select>
      <p class="tulip-help">Map projections define how the surface of the earth is displayed.  The purpose of your map should drive the more appropriate projections.</p>
    </div>
    
    <div class="tulip-configuration-group cf">
      <label for="tulip-configuration-rotation">Rotation:</label>
      <p class="tulip-help">Defines how the map is rotated or offset around the center.  <em>R</em> is the amount of rotation around the center in a counter-clockwise direction.</p>
      
      <div class="tulip-configuration-property">
        <label for="tulip-configuration-rotation0">X:</label>
        <input type="text" id="tulip-configuration-rotation0" name="tulip-configuration-rotation0" />
      </div>
      
      <div class="tulip-configuration-property">
        <label for="tulip-configuration-rotation1">Y:</label>
        <input type="text" id="tulip-configuration-rotation1" name="tulip-configuration-rotation1" />
      </div>
      
      <div class="tulip-configuration-property">
        <label for="tulip-configuration-rotation2">R:</label>
        <input type="text" id="tulip-configuration-rotation2" name="tulip-configuration-rotation2" />
      </div>
    </div>
    
    <h2>Features</h2>
    
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-styles">Feature styles:</label>
      <input type="text" id="tulip-configuration-styles" class="tulip-attribute-picker" name="tulip-configuration-styles" />
      <p class="tulip-help">SVG styles for each map feature.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-stylesHover">Feature styles hover:</label>
      <input type="text" id="tulip-configuration-stylesHover" class="tulip-attribute-picker" name="tulip-configuration-stylesHover" />
      <p class="tulip-help">SVG styles for each map feature on hover.</p>
    </div>

    <h2>Colors</h2>
    
    <div class="tulip-configuration-property">
      <input type="checkbox" id="tulip-configuration-colorOn" name="tulip-configuration-colorOn" />
      <label for="tulip-configuration-colorOn">Color on</label>
      <p class="tulip-help">When enabled, map features will be colored by a value in the data.  The following options are dependent on this one.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-colorScale">Color scale</label>
      <select id="tulip-configuration-colorScale">
      </select>
      <p class="tulip-help">The scale method for determining how values are grouped into colors.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <label for"tulip-configuration-colorProperty">Color property: </label>
      <select id="tulip-configuration-colorProperty" name="tulip-configuration-colorProperty">
      </select>
      <p class="tulip-help">The property in the data source that will determine how the map is colored.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <label for"tulip-configuration-colorSet">Color set: </label>
      <select id="tulip-configuration-colorSet" name="tulip-configuration-colorSet">
      </select>
      <p class="tulip-help">The set of colors to use.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <input type="checkbox" id="tulip-configuration-colorReverse" name="tulip-configuration-colorReverse" />
      <label for="tulip-configuration-colorReverse">Color reverse</label>
      <p class="tulip-help">Whether to reverse the color set.</p>
    </div>
    
    <h2>Tooltip</h2>
    
    <div class="tulip-configuration-property">
      <input type="checkbox" id="tulip-configuration-tooltipOn" name="tulip-configuration-tooltipOn" />
      <label for="tulip-configuration-tooltipOn">Tooltip on</label>
      <p class="tulip-help">When enabled, tooltips will appear on the map when a feature is hovered over.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-tooltipContent">Tooltip content:</label>
      <textarea type="checkbox" id="tulip-configuration-tooltipContent" name="tulip-configuration-tooltipContent" />
      <p class="tulip-help">The template content.  You can use <a href="http://underscorejs.org/#template">Underscore templates</a> and all properties of the feature will be in the <code>p</code> variable.</p>
    </div>
    
    <h2>Legend</h2>
    
    <div class="tulip-configuration-property">
      <input type="checkbox" id="tulip-configuration-legendOn" name="tulip-configuration-legendOn" />
      <label for="tulip-configuration-legendOn">Legend on</label>
      <p class="tulip-help">When enabled, a legend will be rendered and the following options are dependent on this.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-legendTitle">Legend title:</label>
      <input type="text" id="tulip-configuration-legendTitle" name="tulip-configuration-legendTitle" />
      <p class="tulip-help">The title of the legend container.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-legendScale">Legend scale:</label>
      <input type="text" id="tulip-configuration-legendScale" name="tulip-configuration-legendScale" />
      <p class="tulip-help">The size scale of the legend.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-legendFormatter">Legend formatter:</label>
      <input type="text" id="tulip-configuration-legendFormatter" name="tulip-configuration-legendFormatter" />
      <p class="tulip-help">The formatter for the legend values, refer to the <a target="_blank" href="https://github.com/mbostock/d3/wiki/Formatting">D3.format</a> function.</p>
    </div>
      
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-stylesLegendContainer">Legend container styles:</label>
      <input type="text" id="tulip-configuration-stylesLegendContainer" class="tulip-attribute-picker" name="tulip-configuration-stylesLegendContainer" />
      <p class="tulip-help">SVG styles for legend container.</p>
    </div>
      
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-stylesLegendTitleText">Legend title styles:</label>
      <input type="text" id="tulip-configuration-stylesLegendTitleText" class="tulip-attribute-picker" name="tulip-configuration-stylesLegendTitleText" />
      <p class="tulip-help">SVG styles for legend title.</p>
    </div>
      
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-stylesLegendText">Legend text styles:</label>
      <input type="text" id="tulip-configuration-stylesLegendText" class="tulip-attribute-picker" name="tulip-configuration-stylesLegendText" />
      <p class="tulip-help">SVG styles for legend text.</p>
    </div>
      
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-stylesLegendSwatch">Legend swatch styles:</label>
      <input type="text" id="tulip-configuration-stylesLegendSwatch" class="tulip-attribute-picker" name="tulip-configuration-stylesLegendSwatch" />
      <p class="tulip-help">SVG styles for legend swatches.</p>
    </div>
    
    <div class="tulip-configuration-group cf">
      <label for="tulip-configuration-legendOffset">Legend offset:</label>
      <p class="tulip-help">Offset of the legend from the top left of the canvas.  The Legend Drag interaction will automatically set this.</p>
      
      <div class="tulip-configuration-property">
        <label for="tulip-configuration-legendOffset0">X:</label>
        <input type="text" id="tulip-configuration-legendOffset0" name="tulip-configuration-legendOffset0" />
      </div>
      
      <div class="tulip-configuration-property">
        <label for="tulip-configuration-legendOffset1">Y:</label>
        <input type="text" id="tulip-configuration-legendOffset1" name="tulip-configuration-legendOffset1" />
      </div>
    </div>
    
    <h2>Interactions</h2>
    
    <div class="tulip-configuration-property">
      <input type="checkbox" id="tulip-configuration-legendDragOn" name="tulip-configuration-legendDragOn" />
      <label for="tulip-configuration-legendDragOn">Legend drag on</label>
      <p class="tulip-help">When enabled, it allows the user to drag the legend around.  Useful for placing the legend in a custom spot for exporting.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <input type="checkbox" id="tulip-configuration-mapDragOn" name="tulip-configuration-mapDragOn" />
      <label for="tulip-configuration-mapDragOn">Map drag on</label>
      <p class="tulip-help">When enabled, it allows the user to drag the map around (just the actual map features).  Useful for placing the legend in a custom spot for exporting.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <input type="checkbox" id="tulip-configuration-canvasDragOn" name="tulip-configuration-canvasDragOn" />
      <label for="tulip-configuration-canvasDragOn">Canvas drag on</label>
      <p class="tulip-help">When enabled, it allows the user to drag the map around.  This is helpful for an interactive map.  This option will override the other dragging options.</p>
    </div>
    
    <h2>Reference</h2>
    
    <div class="tulip-configuration-property">
      <input type="checkbox" id="tulip-configuration-graticuleOn" name="tulip-configuration-graticuleOn" />
      <label for="tulip-configuration-graticuleOn">Graticule on</label>
      <p class="tulip-help">When enabled, draws a graticule grid.</p>
    </div>
      
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-stylesGraticule">Graticule styles:</label>
      <input type="text" id="tulip-configuration-stylesGraticule" class="tulip-attribute-picker" name="tulip-configuration-stylesGraticule" />
      <p class="tulip-help">SVG styles for graticule.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <input type="checkbox" id="tulip-configuration-globeOn" name="tulip-configuration-globeOn" />
      <label for="tulip-configuration-globeOn">Globe on</label>
      <p class="tulip-help">When enabled, draws a globe outline.</p>
    </div>
      
    <div class="tulip-configuration-property">
      <label for="tulip-configuration-stylesGlobe">Globe styles:</label>
      <input type="text" id="tulip-configuration-stylesGlobe" class="tulip-attribute-picker" name="tulip-configuration-stylesGlobe" />
      <p class="tulip-help">SVG styles for globe.</p>
    </div>
    
    <h2>Export</h2>
    
    <div class="tulip-configuration-property">
      <label for="tulip-export-format">Image format:</label>
      <select id="tulip-export-format">
        <option value="png" selected="true">PNG</option>
        <option value="jpg">JPEG</option>
      </select>
      <p class="tulip-help">For image exports, what type of image to export to.</p>
    </div>
      
    <div class="tulip-configuration-property">
      <label for="tulip-export-scale">Image scale:</label>
      <input type="text" id="tulip-export-scale" name="tulip-export-scale" value="1" />
      <p class="tulip-help"> Scale of image export.  Should be a positive real number.</p>
    </div>
    
    <div class="tulip-configuration-property">
      <input type="submit" class="tulip-export-image" value="Export to Image" />
    </div>
    
  </form>
  
  <footer>
    Tulip is brought to you by <a href="http://www.minnpost.com/" target="_blank">MinnPost</a>.  Code is on <a href="https://github.com/MinnPost/tulip" target="_blank">Github</a>.
  </footer>
</section>